@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-accent: #b19dcc;
  --color-secondary: #7a56ae;
  --color-neutral: #2a2542;
  --font-goldman: "Goldman", serif;
  --font-opensans: "Open Sans", sans-serif;
  --breakpoint-xs: 375px;
}

@layer utilities {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .outline-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    color: transparent;
  }
}

body {
    background-color: var(--color-neutral);
    color: white;
    font-family: var(--font-opensans);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-goldman);
}
